@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukSummaryList: GovukSummaryList,
    govukRadios: GovukRadios,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, list: SummaryList, children: List[Child])(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("submitChildren.title"))) {

@formHelper(action = controllers.benefits.routes.SubmitChildrenController.onSubmit(), Symbol("autoComplete") -> "off") {

@govukSummaryList(list)

@for((child, index) <- children.zipWithIndex) {
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        @child.name
    </dt>
    <dd class="govuk-summary-list__value">
        @child.dateOfBirth
    </dd>
    <dd class="govuk-summary-list__value">
        @child.qualifiesForDLA
    </dd>
    <dd class="govuk-summary-list__value">
        @child.dlaRate
    </dd>
</div>
}

@govukRadios(
RadiosViewModel.yesNo(
field = form("value"),
legend = LegendViewModel(messages("submitChildren.heading")).asPageHeading()
)
)

@govukButton(
ButtonViewModel(messages("site.continue"))
)
}
}



