@this(
layout: templates.Layout,
govukSummaryList: GovukSummaryList,
formHelper: FormWithCSRF,
govukButton: GovukButton,
govukRadios: GovukRadios
)

@(form: Form[_], mode: Mode, list: SummaryList, children: List[Child], index: Int)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = titleNoForm(messages("addAChild.heading"))) {

<h1 class="govuk-heading-xl">@messages("addAChild.heading")</h1>
@formHelper(action = controllers.benefits.routes.AddAChildController.onSubmit(index), Symbol("autoComplete") -> "off") {

@govukSummaryList(list)

@for((child, index) <- children.zipWithIndex) {
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        @child.name
    </dt>
    <dd class="govuk-summary-list__value">
        @child.dateOfBirth
    </dd>
    <dd class="govuk-summary-list__value">
        @child.qualifiesForDLA
    </dd>
    <dd class="govuk-summary-list__value">
        @child.dlaRate
    </dd>

    <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="@controllers.benefits.routes.CheckYourAnswersController.onPageLoad(index)">
            Edit<span class="govuk-visually-hidden"> @child.name</span>
        </a>

    </dd>
    <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="@controllers.benefits.routes.DeleteChildController.onPageLoad(index)">
            Remove<span class="govuk-visually-hidden"> @child.name</span>
        </a>

    </dd>
</div>
}

@govukRadios(
RadiosViewModel.yesNo(
field = form("value"),
legend = LegendViewModel(messages("addAChild.heading"))
)
)

@govukButton(
ButtonViewModel(messages("site.continue"))
)
}
}



