@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[_])(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("annualIncome.title"))) {

    @formHelper(action = routes.AnnualIncomeController.onSubmit(), Symbol("autoComplete") -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukInput(
            InputViewModel(
                field = form("value"),
                label = LabelViewModel(messages("annualIncome.heading")).asPageHeading()
            )
            .withPrefix(PrefixOrSuffix(content = "£"))
            .withWidth(Fixed10)
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
