@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukDateInput: GovukDateInput,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, childsName: String)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("childsBirthDate.title"))) {

    @formHelper(action = controllers.benefits.routes.ChildsBirthDateController.onSubmit(mode), Symbol("autoComplete") -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form, errorLinkOverrides = Map("value" -> "value.day")))
        }

        @govukDateInput(
            DateViewModel(
                field  = form("value"),
                legend = LegendViewModel(messages("childsBirthDate.heading", childsName)).asPageHeading()
            )
            .withHint(HintViewModel(messages("childsBirthDate.hint")))
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
