@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, index: Int)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("childsName.title"))) {

    <h1>The index passed is: @index, the mode passed is: @mode</h1>

    @formHelper(action = controllers.benefits.routes.ChildsNameController.onSubmit(mode, index)) {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukInput(
            InputViewModel(
                field = form("value"),
                label = LabelViewModel(messages("childsName.heading")).asPageHeading()
            )
            .withWidth(Full)
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
