@*
EstimateIncomeTaxView.scala.html
Renders either:
• Start page (no flash values)
• Results page (flash contains income & taxYear)
*@

@import uk.gov.hmrc.govukfrontend.views.viewmodels.button.Button
@import uk.gov.hmrc.govukfrontend.views.viewmodels.content.{Text, HtmlContent}
@import uk.gov.hmrc.govukfrontend.views.viewmodels.breadcrumbs.{Breadcrumbs, BreadcrumbsItem}

@this(
layout: templates.Layout,
govukButton: GovukButton,
govukBreadcrumbs: GovukBreadcrumbs
)

@()(implicit request: Request[_], messages: Messages)

@defining(request.flash.get("income").flatMap(s => scala.util.Try(BigDecimal(s)).toOption)) { incomeOpt =>
@defining(request.flash.get("taxYear")) { taxYearOpt =>
@defining(incomeOpt.isDefined && taxYearOpt.isDefined) { hasData =>
@defining(java.text.NumberFormat.getCurrencyInstance(java.util.Locale.UK)) { fmt =>

@layout(
pageTitle = if (hasData) messages("estimateIncomeTax.title") else messages("start.title")
) {

@if(hasData) {
@* ---------------- RESULTS ---------------- *@

@defining(incomeOpt.get) { income =>
@defining(taxYearOpt.get) { ty =>
@defining(services.TaxCalculator.calculate(income)) { d =>


<h1 class="govuk-heading-l govuk-!-margin-bottom-2">
    @messages("results.heading", ty)
</h1>
<p class="govuk-body govuk-!-margin-bottom-6">
    @messages("results.taxYear") <strong>@ty</strong>
</p>

@* Big green total panel *@
<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
    <h2 class="govuk-panel__title">@fmt.format(d.netIncome.bigDecimal)</h2>
    <div class="govuk-panel__body">@messages("results.per.year")</div>
</div>


<table class="govuk-table">
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@messages("results.row.gross")</th>
        <td class="govuk-table__cell">@fmt.format(income.bigDecimal)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@messages("results.row.incomeTax")</th>
        <td class="govuk-table__cell">@fmt.format(d.incomeTax.bigDecimal)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@messages("results.row.ni")</th>
        <td class="govuk-table__cell">@fmt.format(d.nationalInsurance.bigDecimal)</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">@messages("results.row.takeHome")</th>
        <td class="govuk-table__cell"><strong>@fmt.format(d.netIncome.bigDecimal)</strong></td>
    </tr>
    </tbody>
</table>


<div class="govuk-button-group">
    <a class="govuk-button" href="@routes.CheckYourAnswersController.onPageLoad().url">
        @messages("results.updateAnswers")
    </a>
</div>

<p class="govuk-body">
    <a class="govuk-link" href="@routes.TaxFormController.onPageLoad().url">
        @messages("results.clearAndStart")
    </a>
</p>

}}}

} else {
@* ---------------- START PAGE ---------------- *@

@govukBreadcrumbs(
Breadcrumbs(
items = Seq(
BreadcrumbsItem(content = Text(messages("start.bc.home")),      href = Some("#")),
BreadcrumbsItem(content = Text(messages("start.bc.money")),     href = Some("#")),
BreadcrumbsItem(content = Text(messages("start.bc.incomeTax")), href = Some("#"))
)
)
)

<h1 class="govuk-heading-xl">@messages("start.heading")</h1>

<p class="govuk-body">@messages("start.p1")</p>
<p class="govuk-body">@messages("start.p2")</p>

<p class="govuk-body">@messages("start.thisTellsYou")</p>
<ul class="govuk-list govuk-list--bullet">
    <li>@messages("start.li.payTax")</li>
    <li>@messages("start.li.pension")</li>
    <li>@messages("start.li.studentLoan")</li>
</ul>

<div class="govuk-inset-text">
    @messages("start.inset1.pre")
    <a class="govuk-link" href="#">@messages("start.inset1.link")</a>
    @messages("start.inset1.post")
</div>

<p class="govuk-body">
    @messages("start.refund.pre")
    <a class="govuk-link" href="#">@messages("start.refund.link")</a>.
</p>

@govukButton(
Button(
content       = Text(messages("site.startNow")),
href          = Some(routes.TaxFormController.onPageLoad().url),
isStartButton = true
)
)
}
}
}}}}
