@*
IsOverPensionAgeView.scala.html
*@

@this(
layout: templates.Layout,
formHelper: FormWithCSRF,
govukErrorSummary: GovukErrorSummary,
govukRadios: GovukRadios,
govukDetails: GovukDetails,
govukButton: GovukButton
)

@(form: Form[Boolean])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.govukfrontend.views.viewmodels.content.Text
@import uk.gov.hmrc.govukfrontend.views.viewmodels.radios.{Radios, RadioItem}
@import uk.gov.hmrc.govukfrontend.views.viewmodels.fieldset.{Fieldset, Legend}
@import uk.gov.hmrc.govukfrontend.views.viewmodels.errormessage.ErrorMessage
@import uk.gov.hmrc.govukfrontend.views.viewmodels.details.Details
@import uk.gov.hmrc.govukfrontend.views.viewmodels.button.Button

@layout(pageTitle = title(form, messages("isOverPensionAge.title"))) {

@formHelper(
action = routes.IsOverPensionAgeController.onSubmit(),
Symbol("autoComplete") -> "off",
Symbol("novalidate")   -> "novalidate"
) {

@if(form.hasErrors) {
@govukErrorSummary(ErrorSummaryViewModel(form))
}

@govukRadios(
Radios(
idPrefix = Some("value"),
    name = "value",
    fieldset = Some(
Fieldset(
legend = Some(
Legend(
    content = Text(messages("isOverPensionAge.heading")),
    isPageHeading = true,
    classes = "govuk-fieldset__legend--xl"
)))
),

items = Seq(
RadioItem(
    value = Some("true"),
    content = Text(messages("site.yes")),
    checked = form("value").value.contains("true")
),

RadioItem(
    value = Some("false"),
    content = Text(messages("site.no")),
    checked = form("value").value.contains("false")
)),

errorMessage = form.error("value").map(
e => ErrorMessage(content = Text(messages(e.message)))
)
))

@govukDetails(
Details(
    summary = Text(messages("isOverPensionAge.details.summary")),
    content = Text(messages("isOverPensionAge.details.body"))
))

@govukButton(
Button(content = Text(messages("site.continue")))
)

}
}
